<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Form</title>
  </head>
  <body>
    <h1>AngularJS Example: Form</h1>
    <form id="signupForm" name="form" ng-controller="SignupForm.Controller" ng-submit="submit()" novalidate>
      <p class="form-question">ログインID:</p>
      <div class="form-answer">
        <input type="text" name="username" ng-model="data.username"
          ng-minlength="8" ng-maxlength="16" ng-pattern="/^[a-zA-Z0-9]*$/" required>
        <span class="error" ng-show="form.username.$error.pattern">
          半角英数字のみで入力してください
        </span>
        <span class="error" ng-show="form.username.$error.minlength">
          8文字以上で入力してください
        </span>
        <span class="error" ng-show="form.username.$error.maxlength">
          16文字以内で入力してください
        </span>
        <span class="error" ng-show="form.username.$error.required">
          入力してください
        </span>
        <span id="username-msg-valid" class="valid" ng-show="form.username.$valid">
          OK
        </span>
      </div>

      <p class="form-question">パスワード:</p>
      <div class="form-answer">
        <input type="{{textOrPassword()}}" name="password" ng-model="data.password"
          ng-minlength="8" ng-maxlength="16" ng-pattern="/^[a-zA-Z0-9]*$/" required>
        <span class="valid" ng-show="form.password.$valid">OK</span>
        <span class="error" ng-show="form.password.$error.pattern">
          半角英数字のみで入力してください
        </span>
        <span class="error" ng-show="form.password.$error.minlength">
          8文字以上で入力してください
        </span>
        <span class="error" ng-show="form.password.$error.maxlength">
          16文字以内で入力してください
        </span>
        <span class="error" ng-show="form.password.$error.required">
          入力してください
        </span>
        <br>
        <input type="checkbox" id="passwordVisible" ng-model="passwordVisible">
        <label for="passwordVisible">パスワードを表示する</label>
      </div>

      <p class="form-question">氏名:</p>
      <div class="form-answer">
        <input type="text" name="lastName" ng-model="data.name.lastName"
          class="name" placeholder="姓" required>
        <input type="text" name="firstName" ng-model="data.name.firstName"
          class="name" placeholder="名" required>
        <span class="error"
          ng-show="form.firstName.$error.required || form.lastName.$error.required">
          入力してください
        </span>
        <span class="valid"
          ng-show="form.firstName.$valid &amp;&amp; form.lastName.$valid">
          OK
        </span>
      </div>

      <p class="form-question">フリガナ:</p>
      <div class="form-answer">
        <input type="text" name="phoneticLastName" class="name" placeholder="セイ"
          ng-model="data.name.phoneticLastName" ng-pattern="/^[ァ-ヶー]*$/" required>
        <input type="text" name="phoneticFirstName" class="name" placeholder="メイ"
          ng-model="data.name.phoneticFirstName" ng-pattern="/^[ァ-ヶー]*$/" required>
        <span class="error"
          ng-show="form.phoneticFirstName.$error.pattern || form.phoneticLastName.$error.pattern">
          カタカナで入力してください
        </span>
        <span class="error"
          ng-show="form.phoneticFirstName.$error.required || form.phoneticLastName.$error.required">
          入力してください
        </span>
        <span class="valid"
          ng-show="form.phoneticFirstName.$valid &amp;&amp; form.phoneticLastName.$valid">
          OK
        </span>
      </div>

      <p class="form-question">メールアドレス:</p>
      <div class="form-answer">
        <input type="email" name="email" ng-model="data.email" required>
        <span class="error" ng-show="form.email.$error.email">
          正しいメールアドレスを入力してください
        </span>
        <span class="error" ng-show="form.email.$error.required">入力してください</span>
        <span class="valid" ng-show="form.email.$valid">OK</span>
      </div>

      <p class="form-question">URL:</p>
      <div class="form-answer">
        <input type="url" name="url" ng-model="data.url">
        <span class="error" ng-show="form.url.$error.url">
          正しいURLを入力してください
        </span>
        <span class="valid" ng-show="form.url.$valid">OK</span>
      </div>

      <p class="form-question">電話番号:</p>
      <div class="form-answer">
        <div ng-form name="phoneForm" class="phone" ng-repeat="phone in data.phone">
          <a href="" class="remove" ng-click="removePhone($index)">×</a>
          <select name="phoneType" ng-model="phone.type"
            ng-options="x.id as x.label for x in phoneTypes" required>
          </select>
          <input type="text" name="phoneNumber" class="phoneNumber" placeholder="電話番号"
            ng-model="phone.number" ng-minlength="10" ng-maxlength="11" ng-pattern="/^\d+$/" required>
          <span class="error" ng-show="phoneForm.phoneNumber.$error.pattern">
            半角数字のみで入力してください
          </span>
          <span class="error" ng-show="phoneForm.phoneNumber.$error.minlength">
            10桁以上で入力してください
          </span>
          <span class="error" ng-show="phoneForm.phoneNumber.$error.maxlength">
            11桁以内で入力してください
          </span>
          <span class="error" ng-show="phoneForm.phoneNumber.$error.required">入力してください</span>
          <span class="valid" ng-show="phoneForm.phoneNumber.$valid">OK</span>
          <span class="note">例）0312345678</span>
        </div>
        <div class="actions">
          <a href="" class="action" ng-click="addPhone()">電話番号を追加</a>
        </div>
      </div>

      <p class="form-question">好きなプログラミング言語:</p>
      <div class="form-answer">
        <select name="lang" ng-model="data.lang"
          ng-options="x.id as x.label for x in langs" required>
          <option value="">----------------</option>
        </select>
        <span class="error" ng-show="form.lang.$error.required">選択してください</span>
        <span class="valid" ng-show="form.lang.$valid">OK</span>
      </div>

      <p class="form-question">好きな色:</p>
      <ul>
        <li ng-repeat="x in colors">
          <input type="radio" id="browser-{{x.id}}" value="{{x.id}}" ng-model="data.color">
          <label for="browser-{{x.id}}">{{x.label}}</label>
        </li>
      </ul>

      <p class="form-question">好きな球技（任意回答・複数可）:</p>
      <ul>
        <li ng-repeat="x in ballGames">
          <input type="checkbox" id="ballGame-{{x.id}}" value="{{x.id}}"
            ng-model="data.ballGame[x.id]" ng-required="isBallGameSelected()">
          <label for="ballGame-{{x.id}}">{{x.label}}</label>
        </li>
      </ul>

      <hr>

      <div class="form-actions">
        <button ng-disabled="form.$invalid">送信</button>
        <span class="error" ng-show="form.$invalid">入力に不備があります</span>
        <span class="valid" ng-show="form.$valid">送信できます</span>
      </div>

      <hr>

      <h2>Data Preview:</h2>
      <pre>{{dataAsPrettyJson()}}</pre>
    </form>
  </body>
</html>
